<!doctype html>
<html ng-app="sql-browser">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.4.5/hotkeys.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.4.5/hotkeys.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="static/app.js"></script>
    <style>
        .mystyle input[type="text"] {
            height: 20px;
            font-size: 10px;
            line-height: 14px;
        }
        .mystyle label {
            padding-top: 0px !important;
        }
        .mystyle .form-group {
            margin-bottom: 0px;
        }
    </style>

</head>
<body  ng-controller="MainCtrl">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sql browser</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input ng-model="$storage.con.url" type="text" placeholder="jdbc url" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="$storage.con.user" type="text" placeholder="user" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="$storage.con.password" type="password" placeholder="password" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="$storage.con.driverClass" type="text" placeholder="driverClass" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="$storage.con.schema" type="text" placeholder="schema" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="$storage.con.tableFilter" type="text" placeholder="tableFilter" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Test</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 btn-group">
                <label class="btn btn-primary" ng-model="requestMode" btn-radio="'Manual'">Manual</label>
                <label class="btn btn-primary" ng-model="requestMode" btn-radio="'Form'">Form</label>
            </div>
            <div class="col-md-8" ng-if="requestMode == 'Form'">
                <div class="form-group">
                    <label for="inputTable" class="col-sm-2 control-label">Table</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mousetrap" id="inputTable" ng-model="selectedTable" typeahead-on-select="onTableSelect($item, $model, $label)" typeahead="table as table.TABLE_NAME for table in tables | filter:{TABLE_NAME:$viewValue} | limitTo:8">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form ng-show="requestMode == 'Manual'">
                <textarea class="form-control mousetrap" rows="3" ng-model="request"></textarea>
                <button class="form-control btn btn-default" ng-click="exeRequest()">Exe</button>
            </form>
            <div ng-show="requestMode == 'Form'">
                <form  class="form-horizontal mystyle">
                    <div class="form-group col-md-6" ng-repeat="c in metadata.columns">
                        <label for="{{c.COLUMN_NAME}}" class="col-md-4 control-label">{{c.COLUMN_NAME}}</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control mousetrap" id="{{c.COLUMN_NAME}}" ng-model="criterias[c.COLUMN_NAME]" tooltip="{{c.TYPE_NAME}}({{c.COLUMN_SIZE}})" ng-trim="false">
                        </div>
                    </div>
                    <button class="form-control btn btn-default" ng-click="exeRequest()">Exe</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <table class="table table-bordered small">
            <tr>
                <th><span class="badge badge-important ng-binding">{{rows.length}}</span></th>
                <th ng-repeat="h in headers">{{ h }}</th>
            </tr>
            <tr ng-repeat="r in rows track by $index">
                <td>{{$index + 1}}</td>
                <td ng-repeat="h in headers">{{r[h]}}</td>
                <td ng-repeat="exKey in metadata.exportedKeys">
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="goToExported(r, exKey)" tooltip="{{exKey.FKTABLE_NAME}}">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>

                </td>
            </tr>
        </table>


    </div>

    <hr>

    <footer>
        <p>&copy; xsenechal 2015</p>
    </footer>
</div> <!-- /container -->

</body>
</html>
